@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.project-page-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: calc(100vh - 52px);
  background-color: #212529;
  overflow: visible;
  scroll-behavior: smooth;
  scrollbar-width: none;
  font-family: "Montserrat", sans-serif;
  color: #212529;
  text-align: center;
  z-index: 1;
}

.project-page-div {
  position: relative;
  width: 100%;
}

/* @media (max-width: 992px) {
  .project-page-div {
    padding: 0;
    max-width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 576px) {
  .project-page-div {
    padding-right: 0;
    padding-left: 0;
    max-width: 100%;
    margin: 0 auto;
  }
} */
